
<div class="jumbotron jumbo">
  
  <h1 class= "center" >MEVS</h1>
  <p class ="big">El MEVS es una herramienta para evaluar la gestión en las OSCs desarrollada por GESOC.
  
     Esta te permitirá saber que si tu intervención  está alineada a la generación de resultados e impactos.</p>
     
  <div class = "center">
    <%= link_to "Aplicar al MEVS", registro_path , class: "btn btn-primary btn-lg", role: "button", style:"color: white"%>
  </div>
  
</div>

