
<div class ="container">
    
    <div class="jumbotron">
      <h1>MEVS</h1>
      <p>El MEVS es una herramienta para evaluar la gestión en las OSCs desarrollada por GESOC.</p>
      <p>Esta te permitirá saber que si tu intervención  está alineada a la generación de resultados e impactos</p>
      <p><%= link_to "Aplicar al MEVS", registro_path , class: "btn btn-primary btn-lg", role: "button"%></p>
      
    </div>

</div>