@import "bootstrap-sprockets";
@import "bootstrap";


h1 {
    padding-bottom: 20px;
}

p.big {
    padding-bottom: 20px;
    line-height: 30px;
    
}

.center {
    text-align: center;
}

.jumbo {
    
    padding-top:20px;
    margin-top:20px;
    
}

.boton {
    
    align: center;

    padding-top: 50px;
    
}

.boton-text {
    
        color: white;
}